[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiodocker = "==0.21.0"
aiofiles = "==0.6.0"
aiohttp = "==3.7.4"
aiohttp-jinja2 = "==1.4.2"
annotated-types = "==0.5.0"
appdirs = "==1.4.4"
astroid = "==2.15.6"
async-timeout = "==3.0.1"
asyncmock = "==0.4.2"
attrs = "==23.1.0"
beautifulsoup4 = "==4.9.3"
black = "==22.1.0"
bluerobotics-ping = "==0.1.5"
certifi = "==2023.7.22"
chardet = "==3.0.4"
charset-normalizer = "==2.0.12"
click = "==8.0.0"
clickclick = "==20.10.2"
connexion = "==2.14.2"
coverage = "==7.3.1"
decorator = "==5.1.1"
dill = "==0.3.7"
docker = "==5.0.0"
dpath = "==2.1.5"
exceptiongroup = "==1.1.3"
fastapi = "==0.63.0"
fastapi-versioning = "==0.9.1"
flask = "==2.2.5"
future = "==0.18.3"
geographiclib = "==2.0"
h11 = "==0.14.0"
idna = "==3.4"
ifaddr = "==0.2.0"
importlib-metadata = "==6.8.0"
inflection = "==0.5.1"
iniconfig = "==2.0.0"
isort = "==5.12.0"
itsdangerous = "==2.1.1"
jdatetime = "==4.1.1"
jinja2 = "==3.0.3"
jsonschema = "==3.2.0"
lazy-object-proxy = "==1.9.0"
loguru = "==0.5.3"
lxml = "==4.9.3"
markupsafe = "==2.1.3"
mavproxy = "==1.8.67"
mccabe = "==0.7.0"
mock = "==5.1.0"
multidict = "==6.0.4"
mypy = "==1.5.1"
mypy-extensions = "==1.0.0"
nmeasim = "==1.1.1.0"
numpy = "==1.25.2"
packaging = "==23.1"
pathspec = "==0.11.2"
platformdirs = "==3.10.0"
pluggy = "==1.3.0"
psutil = "==5.7.2"
py-machineid = "==0.3.0"
pydantic = "==1.10.12"
pydantic-core = "==2.6.3"
pyelftools = "==0.28"
pyfakefs = "==5.2.4"
pykson = {ref = "fcab71c1eadd6c6b730ca21a5eecb3bf9c374507", git = "git+https://github.com/patrickelectric/pykson.git"}
pylint = "==2.17.5"
pylint-plugin-utils = "==0.8.2"
pylint-pydantic = "==0.2.4"
pymavlink = "==2.4.40"
pynmea2 = "==1.18.0"
pyparsing = "==3.1.1"
pyroute2 = "==0.5.13"
pyrsistent = "==0.16.0"
pyserial = "==3.5"
pytest = "==7.4.2"
pytest-asyncio = "==0.14.0"
pytest-cov = "==4.1.0"
pytest-mock = "==3.10.0"
pytest-timeout = "==2.1.0"
python-dateutil = "==2.8.2"
python-multipart = "==0.0.5"
pytz = "==2023.3.post1"
pyyaml = "==6.0.1"
requests = "==2.26.0"
ruff = "==0.0.288"
six = "==1.15.0"
smbus2 = "==0.3.0"
soupsieve = "==2.5"
speedtest-cli = "==2.1.3"
starlette = "==0.13.6"
swagger-ui-bundle = "==0.0.9"
tabulate = "==0.8.9"
tomli = "==2.0.1"
tomlkit = "==0.12.1"
types-requests = "*"
types-tabulate = "*"
types-urllib3 = "==1.26.25.14"
typing-extensions = "==4.7.1"
urllib3 = "==1.26.16"
validators = "==0.18.2"
websocket-client = "==1.6.3"
werkzeug = "==2.2.3"
winregistry = "==1.1.1"
wrapt = "==1.15.0"
yarl = "==1.9.2"
zeroconf = "==0.38.4"
zipp = "==3.16.2"

[dev-packages]

[requires]
python_version = "3.11"
